ASBProject2/AutomatedSmartBlinds/WebApplication1/Connected Services/sbServices/sbServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost" elementFormDefault="qualified" targetNamespace="http://localhost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BlindSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SbHorizontal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SbVertical" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlindSettings" nillable="true" type="tns:BlindSettings" />
</xs:schema>