ASBProject2/AutomatedSmartBlinds/WebApplication1/Connected Services/sbServices/sbServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52526/sbServices.svc?xsd=xsd2" namespace="http://localhost" />
  <xs:element name="GetBlindSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SysID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlindSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://localhost" minOccurs="0" name="GetBlindSettingsResult" nillable="true" type="q1:BlindSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBlindSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://localhost" minOccurs="0" name="Smartblinds" nillable="true" type="q2:BlindSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBlindSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>