ASBProject2/AutomatedSmartBlinds/WebApplication1/Connected Services/sbServices/sbServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sbServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52526/sbServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52526/sbServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52526/sbServices.svc?xsd=xsd2" namespace="http://localhost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsbServices_GetBlindSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlindSettings" />
  </wsdl:message>
  <wsdl:message name="IsbServices_GetBlindSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlindSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IsbServices_SetBlindSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SetBlindSettings" />
  </wsdl:message>
  <wsdl:message name="IsbServices_SetBlindSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetBlindSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IsbServices_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IsbServices_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="IsbServices">
    <wsdl:operation name="GetBlindSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IsbServices/GetBlindSettings" message="tns:IsbServices_GetBlindSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsbServices/GetBlindSettingsResponse" message="tns:IsbServices_GetBlindSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBlindSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IsbServices/SetBlindSettings" message="tns:IsbServices_SetBlindSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsbServices/SetBlindSettingsResponse" message="tns:IsbServices_SetBlindSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IsbServices/DoWork" message="tns:IsbServices_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsbServices/DoWorkResponse" message="tns:IsbServices_DoWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsbServices" type="tns:IsbServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlindSettings">
      <soap:operation soapAction="http://tempuri.org/IsbServices/GetBlindSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBlindSettings">
      <soap:operation soapAction="http://tempuri.org/IsbServices/SetBlindSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IsbServices/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sbServices">
    <wsdl:port name="BasicHttpBinding_IsbServices" binding="tns:BasicHttpBinding_IsbServices">
      <soap:address location="http://localhost:52526/sbServices.svc/sbServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>